.categories__inner {
  display: flex;
  flex-wrap: wrap;
  @include ul-min {
    justify-content: space-between;
  }
  @include ul-xl {
    justify-content: space-around;
  }
  @include xl {
    justify-content: space-around;
  }
}

.categories__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 3px;
  width: 370px;
  transition: all 0.3s;

  @include xs-min {
    padding: 20px 20px 16px;
  }
  @include xs {
    padding: 20px 5px 16px;
  }

  &:hover {

    background: #FFFFFF;
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
    border-radius: 3px;
    border: 1px solid #ffffff;

    .categories__item-title {
      color: #1c62cd;
    }
  }

  &:nth-of-type(6) {
    padding-right: 77px;
  }

  &-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-title {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 1.4375rem;
    line-height: 28px;
    transition: color 0.3s;

    color: #2F3035;
  }

  &-text {
    font-size: 0.875rem;
    line-height: 17px;

    color: #c4c4c4;

    &::after {
      content: url('/assets/images/link-arrow.svg');
      padding-left: 3px;

    }
  }

  &-img {
    max-width: 100%;
  }
}