.product-card {
  margin-bottom: 80px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__img-box {
    width: 500px;
    padding-top: 64px;
    text-align: center;
    position: relative;

    &::before {
      font-size: 15px;
      line-height: 18px;
      padding: 13px 25px;
      letter-spacing: 0.12em;
      border-radius: 3px;
    }
  }

  &__price-old {
    font-family: 'Barlow', sans-serif;
    font-size: 30px;
    line-height: 44px;
    display: inline-block;
    background-image: url('/assets/images/old-line.svg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
  }

  &__price-new {
    font-family: 'Barlow', sans-serif;
    font-weight: 700px;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 17px;
  }

  &__link {
    border-bottom: 1px solid #1c62cd;
    font-size: 15px;
    line-height: 18px;

    color: #1c62cd;
  }

  &__content {
    width: 570px;
  }

  &__title {
    font-family: 'SFProDisplay-Bold', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 10px;
  }

  &__code {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 22px;
    opacity: 0.6;
  }

  &__buttons {
    margin-bottom: 50px;

    & a + a {
      margin-left: 30px;
    }
  }

  &__tab {
    font-size: 20px;
    line-height: 24px;
    opacity: 0.6;
    padding-bottom: 5px;
    padding-right: 17px;
    margin-bottom: 5px;

    & + .product-card__tab {
      padding-left: 17px;
    }

    &.tab--active {
      font-family: 'SFProDisplay-Bold', sans-serif;
      font-weight: 700;
      opacity: 1;
      border-bottom: 2px solid #1c62cd;
    }
  }

  &__list {
    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 24px;
    padding: 15px 0 6px;
    border-bottom: 1px solid rgba(#2f3035, 0.1);

    &-left {
      padding-right: 15px;
    }

    &-right {
      width: 125px;
    }
  }

  &__more {
    margin-bottom: 45px;
    font-size: 14px;
    line-height: 17px;
    border-bottom: 1px solid #1c62cd;
    color: #1c62cd;
  }

  &__btn {

    & button {
      padding: 16px 53px;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      color: #ffffff;
      background: #1c62cd;
      border-radius: 3px;
      border: none;
      cursor: pointer;
    }
  }

}