.footer {
  background: #f0f0f4;
}

.footer__top {
  padding-top: 43px;

  &-inner {
    display: flex;
    @include lg-min {
      justify-content: space-between;
    }
    @include lg-sm {
      flex-wrap: wrap;
      justify-content: space-around;
    }
    @include sm {
      flex-wrap: wrap;
      justify-content: start;
    }
  }

  &-newslatter {
    width: 295px !important;

    @include sm-min {
      margin-right: 51px;
    }
    @include sm {
      width: 290px;
      text-align: center;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &-title {
    font-family: 'SFProDisplay-Bold', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    &.footer__topdrop {
      @include sm {
        font-family: 'SFProDisplay-Medium', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        padding: 15px 0;
        color: #7f7f7f;
      }
    }
  }

  &-item {
    @include lg-min {
      width: 200px;
    }

    @include lg-sm {
      width: 200px;
      margin-bottom: 25px;
    }
    @include sm {
      width: 100%;
      margin-bottom: 25px;
      border-bottom: 2px solid #f9f9fc;
    }
  }

  &-social {

    @include sm-min {
      width: 250px;
    }
    @include sm {
      width: 100%;
      justify-content: center;
      border: none;
    }
  }
}

.footer-list {
  font-size: 14px;
  line-height: 22px;
  @include sm {
    display: none;
  }
}

.footer-form {
  margin-top: 34px;
  display: flex;
  justify-content: space-between;

  &__input {
    border: none;
    padding: 0 12px;
    font-size: 14px;
    line-height: 17px;

    &::placeholder {
      color: #c4c4c4;
    }
  }

  &__btn {
    border: none;
    background-color: #1C62CD;
    padding: 10px 16px;
    font-family: 'SFProDisplay-Semibold', sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    cursor: pointer;

    color: #ffffff;
  }
}

.social-list {
  display: flex;
  align-items: center;
  height: 100%;

  @include sm {
    justify-content: center;
  }
  
  &__item {
    margin-right: 30px;
  }
}

.footer__bottom {
  display: flex;
  padding: 46px 0 22px;

  @include sm-min {
    justify-content: center;
    align-items: center;
  }
  @include sm {
    flex-direction: column;
    align-items: start;
  }

  &-link {
    font-size: 0.625rem;
    line-height: 12px;

    color: #48494D;

    @include sm-min {
      margin: 0 40px;
    }
    @include sm {
      margin: 12px 0;
    }
  }
}

.footer__topdrop {
  position: relative;
  @include sm-min {
    pointer-events: none;
  }
  @include sm {
    &::after {
      content: "";
      position: absolute;
      top: 21px;
      right: 0;
      width: 12px;
      height: 8px;
      background-image: url('/assets/images/arrow-down.svg');
    }
  }
}

.footer__top-itemdrop {
  @include sm {
    margin-bottom: 0;
    border-top: 2px solid #f9f9fc;
  }
}

.footer__topdrop--active {
  @include sm {
    &::after {
      content: "";
      transform: rotate(180deg);
    }
  }
}