.catalog {
  margin-bottom: 100px;

  &__title {
    font-family: 'SFProDisplay-Bold', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 26px;
  }

  &__filter {
    margin-bottom: 50px;

    @include lg-min {
      display: flex;
      justify-content: space-between;
    }
    @include lg {
      display: block;
    }

    &-items {

      & button {
        font-size: 14px;
        line-height: 17px;
        padding: 5px 25px;
        opacity: 0.7;
        margin-right: 8px;

        background: #f0f0f4;
        border-radius: 3px;
        border: none;
        cursor: pointer;

        margin: 0;
        

        & + button {
          margin-left: 10px;
        }
      }
    }

    &-btn {
      display: flex;
      align-items: center;

      @include lg {
        margin-top: 30px;
      }

      & button {
        background-color: transparent;
        border: none;
        cursor: pointer;

        @include lg {
          display: none;
        }
      }
    }

    &-btngrid {
      width: 26px;
      height: 21px;
      padding: 0;
    }

    &-btnline {
      width: 25px;
      height: 19px;
      margin-left: 10px;
      padding: 0;
    }

    &-button {
      opacity: 0.3;
      outline: none;
      cursor: pointer;
    }
  }

  &__inner {
    display: flex;
    @include md {
      flex-wrap: wrap;
    }

    &-aside {
      min-width: 290px;
      margin-right: 10px;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      @include ul-min {
        justify-content: space-between;
      }
      @include ul {
        justify-content: space-around;
      }

      & .product-item__wrapper {
        margin-bottom: 30px;
      }

      & .product-item__hover-text {
        left: 32px;
      }
    }
  }
}

.aside__btn {
  @include md-min {
    display: none;
  }
  @include md {
    display: block;
    width: 100%;
    padding: 15px 0;
    margin-bottom: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #1c62cd;
    cursor: pointer;
  }
}


.catalog__filter-button--active {
  opacity: 1;
}

.select-item {
  position: relative;
  border: 1px solid #d7d9df;
  font-size: 14px;
  line-height: 17px;
  margin-right: 34px;
  width: 210px;
  height: 33px;
  color: #2f3035;
  padding: 8px 10px 8px 10px;
}

.select-item .jq-selectbox__dropdown {
  position: absolute;
  width: 210px !important;
  left: -1px;
}
.select-item .jq-selectbox__trigger {
  right: 5px;
}

.product-item__img {
  max-width: 100%;
}


.pagination {
  width: 100%;
  margin-top: 70px;

  &-list {
    display: flex;
    justify-content: center;

    &__item {
      padding: 8px 12px;
      border: 2px solid transparent;
      color: #c4c4c4;
      font-size: 18px;
      line-height: 22px;
      @include xs-min {
        padding: 8px 12px;
        margin: 0 5px;
      }
      @include xs {
        padding: 8px 6px;
        margin: 0 3px;
      }

      & a {
        display: block;
      }
    }
  }
}

.pagination-list__item.active {
  border: 2px solid #1c62cd;
  color: #1c62cd;
}

.aside-filter {

  @include md-min {
    display: block;
  }

  @include md {
    display: none;
  }
  &__tabs {
    display: flex;
    justify-content: space-between;
  }

  &__tab {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    width: 50%;

    color: #c4c4c4;

    &.tab--active {
      font-family: 'SFProDisplay-Bold', sans-serif;
      font-weight: 700;
      color: #2f3035;

      & span {
        display: inline-block;
        padding-bottom: 7px;
        border-bottom: 2px solid #1c62cd;
      }
    }
  }

  &__item {

    &-drop {
      margin: 40px 0;
    }

    &-title {
      font-family: 'SFProDisplay-Semibold', sans-serif;
      font-weight: 600;
      line-height: 19px;
      padding-left: 26px;
    }

    &-list {
      margin: 46px 0 40px;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;

    &-box {
      width: 50%;
      margin-bottom: 10px;
    }

    &-label {
      font-size: 14px;
      line-height: 17px;
      cursor: pointer;
    }
  }
}


.filter__item-drop {
  position: relative;
  margin-bottom: 15px;
  cursor: pointer;

  &::before {
    content: "";
    background-image: url('/assets/images/arrow-down.svg');
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 12px;
    height: 8px;
  }
}

.filter__item-drop--active {
 
  &::before {
    transform: rotate(180deg);
  }
}

.jq-checkbox, .jq-radio  {
  vertical-align: -2px;
  width: 14px;
  height: 14px;
  margin: 0 8px 0 0;
  border: 1px solid #c4c4c4;
  background: #ffffff;
  border-radius: 1px;
  box-shadow: none;
}

.jq-checkbox.checked, .jq-radio.checked {
  background: #1c62cd;
  border: none;
}

.jq-checkbox.checked .jq-checkbox__div {
  width: 8px;
  height: 6px;
  margin: 4px 0 0 3px;
  border-bottom: none;
  border-left: none;
  transform: rotate(0);
  background-image: url('/assets/images/checked-icon.svg');
}

.jq-radio.checked .jq-radio__div {
  width: 0;
  height: 0;
  margin: 0;
  border-radius: none;
  background: transparent;
}

.aside-filter__content.aside-filter__content-radio {
  flex-wrap: nowrap;
}

.irs--flat {
  width: 100%;
  margin-top: -13px;
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
  display: none;
}

.irs--flat .irs-min, .irs--flat .irs-max {
  top: 55px;
  padding: 0;
  font-family: 'Barlow', sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #2F3035;

  text-shadow: none;
  background-color: transparent;
  border-radius: 0;
  visibility: visible !important;
  padding-left: 27px;
}

.irs-min,
.irs-max {

  &::before {
    position: absolute;
    left: 0;
    font-size: 14px;
    line-height: 17px;
    color: #c4c4c4;
  }
}

.irs-min {
  &::before {
    content: "от";
  }
}

.irs-max {
  &::before {
    content: "до";
  }
}

.irs--flat .irs-line {
  top: 25px;
  height: 1px;
  background-color: #E0E0E0;
  border-radius: 0;
}

.irs--flat .irs-bar {
  top: 25px;
  height: 3px;
  background-color: #1c62cd;
}

.irs--flat .irs-handle {
  top: 22px;
  width: 8px;
  height: 8px;
  background-color: #1c62cd;
  border-radius: 50%;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.filter__item {
  &-list {
    display: flex;
    justify-content: space-between;
    padding-top: 34px;
    border-bottom: 2px solid #c4c4c4;
  }

  &-listtitle {
    font-family: 'SFProDisplay-Semibold', sans-serif;
    font-weight: 600;
    line-height: 19px;
    padding-bottom: 14px;
    padding-left: 26px;
  }

  &-listselect {
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #48494D;
  }
}

.jq-selectbox__select {

  font-family: 'Barlow', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #48494d;

  height: 32px;
  padding: 0 25px 0 10px;
 
  background: transparent;
  box-shadow: none;
  border: none;
  border-radius: 0;
  text-shadow: none;

  &:active,
  &:hover {
    background: transparent;
    box-shadow: none;
  }
}

.jq-selectbox__trigger {
  position: absolute;
  border-left: none;

  background-image: url(/assets/images/arrow-down.svg);
  bottom: 5px;
  top: 6px;
  right: 9px;
  width: 12px;
  height: 8px;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 14px;
  right: 12px;
  width: 0;
  height: 0;
  border: none;
}

.jq-selectbox.focused .jq-selectbox__select {
  border: none;
}

.jq-selectbox li:hover {
  background: rgba(107, 126, 172, 0.05);
  color: rgba(0, 0, 0, 0.6);
}

.jq-selectbox li.selected {
  background: rgba(107, 126, 172, 0.05);
  color: rgba(0, 0, 0, 0.6);
}

.jq-selectbox li {
  color: rgba(0, 0, 0, 0.6);
}

.jq-selectbox__dropdown {
  padding-top: 15px;
  border-radius: 0;
}

.filter-more {
  width: 100%;
  &__btn {
    border: none;
    border-bottom: 1px solid #1c62cd;
    color: #1c62cd;
    font-size: 14px;
    line-height: 17px;
    background-color: transparent;
    cursor: pointer;
  }
}

.filter-search {
  width: 100%;
  height: 30px;
  border: 1px solid #e0e0e0;
  font-size: 12px;
  line-height: 14px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0 20px;

  &::placeholder {
    color: #bdbec2;
  }
}

.btn-checked {

  & .aside-filter__content {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  & .aside-filter__content-box {
    width: auto;
  }

  & .aside-filter__content-label {
    position: relative;
    height: 25px;
    width: 63px;
    font-family: 'SFProDisplay-Bold', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
    color: #c4c4c4;
  }

  &__text {
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-57%);
    z-index: 5;
  }

  & .jq-checkbox  {
    height: 25px;
    width: 63px;
    background: #f0f0f4;
    border: none;
  }

  & .jq-checkbox.checked {
    background: #1c62cd;
    color: #ffffff;

    & ~ .btn-checked__text {
      color: #ffffff;
    }
  }

  & .jq-checkbox.checked .jq-checkbox__div {
    display: none;
  }
}

.filter-btn {

  &__send {
    background: #f0f0f4;
    padding: 16px 85px;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #bdbec2;
    border: none;
    cursor: pointer;
    margin-bottom: 15px;
  }
}

.filter-btn__send--active {
  background-color: #1c62cd;
  color: #ffffff;
}

.aside-filter__item-btn {
  text-align: center;
}

.filter__extra {
  position: relative;
  font-size: 13px;
  line-height: 16px;
  padding-right: 29px;
  display: inline-block;
  margin-bottom: 15px;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 4px;
    right: 0;
    background-image: url('/assets/images/arrow-down.svg');
    width: 12px;
    height: 8px;
  }
}

.filter__extra-content {
  display: none;
}

.filter__extra.filter__item-drop--active {
  &::after {
    transform: rotate(180deg);
  }
}

.filter-btn__reset {
  display: inline-block;
  background-color: transparent;
  padding: 0;
  border: 0;
  font-size: 13px;
  line-height: 16px;
  border-bottom: 1px solid #c4c4c4;
  color: #c4c4c4;
  cursor: pointer;
}
