/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0;
}

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block;
}

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px;
}

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
     * Add the correct display in IE.
     */
main {
  display: block;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit;
}

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic;
}

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000;
}

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%;
}

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block;
}

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none;
}

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible;
}

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible;
}

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto;
}

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block;
}

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item;
}

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block;
}

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block;
}

/**
     * Add the correct display in IE.
     */
template {
  display: none;
}

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@font-face {
  font-family: 'SFProDisplay-Regular', sans-serif;
  src: url(/libs/fonts/SFProDisplay-Regular.woff2) format("woff2"), url(/libs/fonts/SFProDisplay-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay-Medium', sans-serif;
  src: url(/libs/fonts/SFProDisplay-Medium.woff2) format("woff2"), url(/libs/fonts/SFProDisplay-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay-Semibold', sans-serif;
  src: url(/libs/fonts/SFProDisplay-Semibold.woff2) format("woff2"), url(/libs/fonts/SFProDisplay-Semibold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay-Bold', sans-serif;
  src: url(/libs/fonts/SFProDisplay-Bold.woff2) format("woff2"), url(/libs/fonts/SFProDisplay-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ul */
/* xl */
/* xlm */
/* lg */
/* lgm */
/* md */
/* sm */
/* xs */
/* xx */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  color: #2f3035;
  font-family: 'SFProDisplay-Semibold', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.price {
  font-family: 'Barlow', sans-serif;
}

.page-section {
  margin-bottom: 80px;
}

.slick-dots {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
}

.slick-dots li {
  display: inline-block;
  padding: 0 5px;
}

.slick-dots button {
  padding: 0;
  font-size: 0;
  margin: 0;
  width: 11px;
  height: 11px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background-color: transparent;
}

.slick-active button {
  background-color: #ffffff;
}

.slick-slide img {
  display: inline;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: 50% 50%;
}

.banner__link {
  margin-bottom: 80px;
}

.header__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 122px;
  font-size: 1.25rem;
  font-family: 'SFProDisplay-Bold', sans-serif;
  font-weight: 700;
}

.menu__item {
  display: inline-block;
}

.menu__item + .menu__item {
  padding-left: 50px;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__adress {
  position: relative;
  margin-right: 60px;
  width: 265px;
  padding-left: 30px;
}

.header__adress::before {
  content: "";
  position: absolute;
  background-image: url("/assets/images/adress-icon.svg");
  width: 30px;
  height: 30px;
  top: -10px;
  left: 0;
}

.user-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}

.user-list__item {
  padding-right: 10px;
}

.basket {
  position: relative;
}

.basket__num {
  position: absolute;
  font-weight: 500;
  font-size: 0.625rem;
  line-height: 20px;
  width: 20px;
  height: 20px;
  background-color: #1c62cd;
  border-radius: 50%;
  text-align: center;
  right: -12px;
  bottom: -11px;
  color: #ffffff;
}

.header__bottom {
  margin-bottom: 80px;
}

.menu-categories {
  background-color: #f0f0f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 53px;
}

.menu-categories__link {
  position: relative;
  font-size: 1.25rem;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  padding: 15px 0 14px;
}

.menu-categories__link::before {
  content: "";
  position: absolute;
  width: 0;
  left: auto;
  bottom: -2px;
  right: 0;
  background-color: #1c62cd;
  height: 3px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.menu-categories__link:hover {
  color: #000000;
}

.menu-categories__link:hover::before {
  width: 100%;
  right: auto;
  left: 0;
}

.banner-section__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner-section__slider {
  max-width: 870px;
}

.banner-section__slider-img {
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 400px;
}

.banner-section__slider-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translatey(-50%);
      -ms-transform: translatey(-50%);
          transform: translatey(-50%);
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  z-index: 2;
  cursor: pointer;
}

.banner-section__slider-btnprev {
  left: 20px;
}

.banner-section__slider-btnnext {
  right: 20px;
}

.sale-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 265px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.sale-item__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sale-item__info {
  color: #ffffff;
  background-color: #1c62cd;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.sale-item__price {
  text-align: right;
}

.sale-item__price-new {
  position: relative;
  font-weight: 700;
  font-size: 1.6875rem;
  line-height: 32px;
  color: #1c62cd;
  margin-right: 6px;
  padding-right: 20px;
}

.sale-item__price-new::after {
  content: "";
  background-image: url("/assets/images/icons-price.svg");
  position: absolute;
  right: 0;
  top: 8px;
  width: 15px;
  height: 18px;
}

.sale-item__price-old {
  position: relative;
  display: inline-block;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 17px;
  color: #c4c4c4;
  margin-right: 15px;
  padding: 2px 5px;
  background-repeat: no-repeat;
  background-image: url("/assets/images/old-line.svg");
}

.sale-item__price-old::after {
  content: "";
  background-image: url("/assets/images/icons-price-old.svg");
  position: absolute;
  right: -10px;
  top: 5px;
  width: 8px;
  height: 10px;
}

.sale-item__img {
  -o-object-fit: contain;
     object-fit: contain;
}

.sale-item__title {
  font-family: 'SFProDisplay-Bold', sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 21px;
  text-align: center;
  margin-bottom: 7px;
  color: #2F3035;
}

.sale-item__footer {
  background: #f0f0f4;
  border-radius: 3px;
  padding: 25px 20px;
  font-size: 1.125rem;
  line-height: 21px;
  text-align: center;
  color: #2f3035;
}

.sale-item__footer span {
  display: block;
  font-family: 'Barlow', sans-serif;
  font-size: 1.125rem;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  color: #1c62cd;
}

.search__tabs {
  margin-bottom: 25px;
}

.search__tabs-item {
  padding: 11px 26px 12px;
}

.search__tabs-item.tab--active {
  border-radius: 5px;
  background: #F0F0F4;
  font-weight: 700;
  font-family: 'SFProDisplay-Bold', sans-serif;
}

.search__content-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search__content-input {
  line-height: 19px;
  background: #f0f0f4;
  border-radius: 3px;
  border: none;
  padding: 5px 20px;
  width: 100%;
}

.search__content-input::-webkit-input-placeholder {
  color: #656464;
}

.search__content-input::-moz-placeholder {
  color: #656464;
}

.search__content-input:-ms-input-placeholder {
  color: #656464;
}

.search__content-input::-ms-input-placeholder {
  color: #656464;
}

.search__content-input::placeholder {
  color: #656464;
}

.search__content-btn {
  font-family: 'SFProDisplay-Bold', sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 17px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  padding: 17px 41px;
  background-color: #1c62cd;
  border-radius: 3px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
  margin-left: -3px;
}

.tabs-content {
  display: none;
}

.tabs-content.tabs-content--active {
  display: block;
}

.categories__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.categories__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 38px;
  border: 1px solid #cdcdcd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  width: 370px;
  padding: 20px 20px 16px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.categories__item:hover {
  background: #FFFFFF;
  -webkit-box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
          box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
  border-radius: 3px;
  border: 1px solid #ffffff;
}

.categories__item:hover .categories__item-title {
  color: #1c62cd;
}

.categories__item:nth-of-type(6) {
  padding-right: 77px;
}

.categories__item-info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categories__item-title {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 1.4375rem;
  line-height: 28px;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  color: #2F3035;
}

.categories__item-text {
  font-size: 0.875rem;
  line-height: 17px;
  color: #c4c4c4;
}

.categories__item-text::after {
  content: url("/assets/images/link-arrow.svg");
  padding-left: 3px;
}

.categories__item-img {
  max-width: 100%;
}

.products {
  margin-bottom: 86px;
}

.products__title {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 30px;
  margin-bottom: 25px;
}

.products__tabs {
  margin-bottom: 25px;
}

.products__tab {
  margin-bottom: 10px;
}

.products__tab + .products__tab {
  margin-left: 50px;
}

.products__tab.tab--active {
  border-bottom: 2px solid #1c62cd;
}

.product-item__wrapper {
  position: relative;
  width: 271px;
  margin: 0 auto;
}

.product-item {
  min-height: 403px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;
  padding: 52px 20px 31px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.product-item:hover {
  -webkit-box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
          box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
  border-radius: 3px;
}

.product-item:hover .product-item__price,
.product-item:hover .product-item__title {
  color: #1c62cd;
}

.product-item:hover .product-item__notify-text {
  color: #2f3035;
}

.product-item:hover .product-item__hover-text {
  opacity: 1;
}

.product-item__favorite {
  position: absolute;
  top: 16px;
  right: 19px;
  width: 24px;
  height: 22px;
  outline: none;
  background-color: transparent;
  border: none;
  z-index: 6;
}

.product-item__favorite::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 22px;
  top: 0;
  left: 0;
  background-image: url("/assets/images/favorit.svg");
  cursor: pointer;
}

.product-item__title {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 21px;
  padding: 14px 0 25px;
}

.product-item__price {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 36px;
}

.product-item__basket {
  position: absolute;
  width: 60px;
  height: 40px;
  padding-top: 7px;
  background: #1c62cd !important;
  border-radius: 10px 0px 0px 0px;
  border: none;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.product-item__hover-text {
  display: inline-block;
  position: absolute;
  top: 30%;
  font-size: 1.25rem;
  padding: 18px 21px;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.product-item__favorite--active::before {
  background-image: url("/assets/images/favorit-active.svg");
}

.product-item--sale::before {
  content: "SALE";
  padding: 8px 15px;
  background-color: #1c62cd;
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 0.75rem;
  line-height: 14px;
  letter-spacing: 0.07em;
}

.product-item__wrapper.product-item__not-available .product-item__price {
  display: none;
}

.product-item__notify-text {
  display: none;
  font-family: 'SFProDisplay-Bold', sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 21px;
}

.product-item__wrapper.product-item__not-available .product-item__notify-text {
  display: block;
}

.product-item__wrapper.product-item__not-available .product-item__basket {
  display: none;
}

.product-item__notify-link {
  display: none;
}

.product-item__wrapper.product-item__not-available .product-item__notify-link {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  line-height: 19px;
  text-align: center;
  color: #1c62cd;
}

.product-item__wrapper.product-item__not-available .product-item__notify-link span {
  border-bottom: 1px solid #1c62cd;
}

.product-item__wrapper.product-item__not-available .product-item__title {
  padding-bottom: 13px;
}

.product-slider__slider-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translatey(-50%);
      -ms-transform: translatey(-50%);
          transform: translatey(-50%);
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  z-index: 2;
  cursor: pointer;
}

.product-slider__slider-btnprev {
  left: -40px;
}

.product-slider__slider-btnnext {
  right: -40px;
}

.product__more {
  margin: 35px 0 0;
  text-align: center;
}

.product__more-link {
  background: #f0f0f4;
  font-size: 0.9375rem;
  line-height: 18px;
  padding: 16px 43px;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

.breadcrumbs {
  margin-bottom: 40px;
}

.breadcrumbs__list-item {
  position: relative;
  display: inline-block;
  padding-right: 16px;
  margin-right: 10px;
  font-size: 15px;
  line-height: 18px;
  color: #c4c4c4;
}

.breadcrumbs__list-item:last-child::after {
  display: none;
}

.breadcrumbs__list-item::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 6px;
  background-image: url("/assets/images/link-arrow.svg");
  width: 6px;
  height: 9px;
}

.footer {
  background: #f0f0f4;
}

.footer__top {
  padding-top: 43px;
}

.footer__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__top-newslatter {
  width: 295px !important;
  margin-right: 51px;
}

.footer__top-title {
  font-family: 'SFProDisplay-Bold', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.footer__top-item {
  width: 200px;
}

.footer__top-social {
  width: 250px;
}

.footer-list {
  font-size: 14px;
  line-height: 22px;
}

.footer-form {
  margin-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-form__input {
  border: none;
  padding: 0 12px;
  font-size: 14px;
  line-height: 17px;
}

.footer-form__input::-webkit-input-placeholder {
  color: #c4c4c4;
}

.footer-form__input::-moz-placeholder {
  color: #c4c4c4;
}

.footer-form__input:-ms-input-placeholder {
  color: #c4c4c4;
}

.footer-form__input::-ms-input-placeholder {
  color: #c4c4c4;
}

.footer-form__input::placeholder {
  color: #c4c4c4;
}

.footer-form__btn {
  padding: 10px 16px;
  border: none;
  background-color: #1C62CD;
  font-family: 'SFProDisplay-Semibold', sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #ffffff;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.social-list__item {
  margin-right: 30px;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 46px 0 22px;
}

.footer__bottom-link {
  font-size: 0.625rem;
  line-height: 12px;
  color: #48494D;
  margin: 0 40px;
}
